#nav{
	
	margin-bottom: 0px;
}
.fondo {

	/*background: url("#{resource['images:1.JPG']}")  top right no-repeat;*/
	background:url(../resources/Images/5.jpg) no-repeat center center fixed ;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	 -o-background-size: cover;
 	 background-size: cover;
	
 
	}

.contenedor{
	/*min-height: 1500px;*/

	margin-left: 10%;
	margin-right: 10%;
	background: rgba(255,255,255, 0.8);
	
}

   .map {
      /*  height: 500px;
        width: 600px;
        border:solid 1px;*/
      }
        
.intab{
	
	width:96%;
	min-height:500px;
	padding: 10px 10px 10px 10px;
	background: rgba(255,255,255, 1);
	margin-left: 2%;
	margin-right: 2%;
	
        }
        
.outtab{
	margin-top: 5px;
	

        }
.rowform{
	margin-top: 5px;
}

/*logo   */
.navbar-brand > img {
	width:inherit;
	height: inherit;
	
	
}
.test{
	background-color: black !Important;
	color: white !Important;
}
.navbar-brand {padding: 1px !Important;}
.mapWrap{	display: block;
 	 		margin-left: auto;
 			margin-right: auto;
 	 width: 80%;
 	 height: 80%;
 	 }